.q-and-a-container{
    background-color: rgba(217, 228, 230, 1);
    border-radius: 10px;
    border: none;
    padding: 40px 48px;
    width: 100%;
}


.question-container{
    background-color: rgba(217, 228, 230, 1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    padding: 0;
}

.number-question-container{
    display: flex;
    align-items: center;
}

.dropdown-number{
    margin-right: 80px;
    display: inline;
    color: #007992;
}

.question{
    color: rgba(2, 48, 62, 1);
    text-align: start;
}

.dropdown-arrow{
    font-size: 3rem;
    user-select: none;
    color: rgba(2, 48, 62, 1);
    transition: all 0.2s ease;
}

.expanded-background-color{
    background-color: rgba(217, 228, 230, 1);
}

.question span, .answer span{
    color: rgba(0, 121, 146, 1);
    font-weight: 700;
}

.answer{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
    margin-top: 40px;
}


.answer > p, .answer > ul > li{
    text-align: left;
}

.answer > a{
    border: none;
    background-color: #007992;
    color: #F4F9FA;
    cursor: pointer;
}

.expand{
    transform: rotate(-180deg);
    transition: all 0.2s ease;
}

@media only screen and (max-width: 900px){
    .q-and-a-container{
        border-radius: 5px;
        padding: 20px;
    }

    .question-container{
        height: auto
    }

    
    .question span, .answer span{
        font-weight: 500;
    }
    .answer{
        gap: 15px;
        margin-top: 15px;
    }
}

@media only screen and (max-width: 480px){


    .dropdown-number{
        margin-right: 10px;
        width: auto;
    }
}