.slideshow {
    width: 1000px;
    display: flex;
    align-items: center;
}

.slide-container{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-wrap:nowrap; */
    overflow-x: scroll;
}

.slide-container::-webkit-scrollbar {
    width: 20px;
}

.slide-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.slide-container::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 10px;
}

.slideshow-slide{
    background-color: black;
    display: block;
    border-radius: 10px;
    width: 33.333333%;
    padding: 0 20px;
}
