.slideshow {
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
}

.slideshow-slide-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 40px; /* pushes track from image slides*/
}

.slideshow-slide-container::-webkit-scrollbar {
    height: 12px;
}

.slideshow-slide-container::-webkit-scrollbar-track {
    margin: 200px; /* shrinks track size*/
    background-color: #D9E4E6;
    border-radius: 10px;
}

.slideshow-slide-container::-webkit-scrollbar-thumb{
    background: #AAB9BB;
    border-radius: 10px;
}

.slideshow-slide{
    background-color: #02303E;
    display: block;
    border-radius: 10px;
    width: 29%;
    margin: 0 20px;
    object-fit: contain;
    object-position: center;
}

.slideshow-button{
    border: none;
    background: none;
    padding-bottom: 40px; /* pushes track from image slides*/
}

.slideshow-button > span{
    color: #F4F9FA;
    font-size: 2rem;
}
