.slideshow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.slideshow-slide-container{
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: scroll;
    padding-bottom: 40px; /* pushes track from image slides*/
}

.slideshow-slide-container::-webkit-scrollbar {
    height: 12px;
}

.slideshow-slide-container::-webkit-scrollbar-track {
    margin: 445px; /* shrinks track size*/
    background-color: #D9E4E6;
    border-radius: 10px;
}

.slideshow-slide-container::-webkit-scrollbar-thumb{
    background: #AAB9BB;
    border-radius: 10px;
}

.slideshow-slide{
    /* width defined in jsx */
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.slideshow-button{
    border: none;
    background: none;
    cursor: pointer;
    padding-bottom: 40px; /* pushes track from image slides*/
}

.slideshow-button > span{
    color: #F4F9FA;
    font-size: 2rem;
}

.slideshow-button > span:hover{
    color: rgba(133, 207, 221, 1);
}

@media only screen and (max-width: 1500px){
    .slideshow-slide-container::-webkit-scrollbar-track{
        margin: 350px;
    }
}

@media only screen and (max-width: 1100px){
    .slideshow-slide-container::-webkit-scrollbar-track{
        margin: 250px;
    }
}