/* Board Members Section */
.board-dropdown-section{
    width: 100%;
}

.board-members-section{
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 112px;
    width: 100%;
}

.board-members-section > h2{
    width: 100%;
    text-align: center;
    color: rgba(133, 207, 221, 1);
}

.board-card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
}

.card-content{
    margin: 0;
    padding: 0;

    justify-self:center;
    width: 100%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
}

.board-img{
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
}

.board-name-text{
    width: 100%;
    color: rgba(133, 207, 221, 1);
}

.board-role-text{
    width: 100%;
    max-width: 300px;
    color: rgba(244, 249, 250, 1);
}

@media only screen and (max-width: 900px){
    .board-dropdown-section > .q-and-a-container{
        background-color: #02303E;
        border-radius: 0;
        padding: 0;
    }

    .board-dropdown-section .question-container{
        background-color: #02303E;
        padding: 60px 25px;
    }
    .board-dropdown-section .question{
        max-width: 201px;
        color: #85CFDD;
        /* overrides default body-text-one */
        font-family: Viga;
        font-weight: 400;
        font-size: 28px;
        line-height: 1.3;
    }

    .board-dropdown-section .dropdown-arrow{
        color: #F4F9FA;
    }

    .board-card-container{
        padding: 0 40px 40px 40px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .board-img{
        border-radius: 5px;
    }
    .board-name-text{
        font-family: "Viga", sans-serif;
        font-weight: 400;
        font-size: 28px;
        margin: 0;
    }

    .board-role-text{
        font-family: "Lexend", sans-serif;
        font-weight: 500;
        font-size: 18px;
        margin: 0;
    }
}

/* FAQ section */
.faq-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-text-color{
    color: rgba(0, 121, 146, 1);
}

.dropdown-container-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dropdown-container{
    width: 50%;
    padding-top: 56px;
    padding-right: 20px;
}

.dropdown-container > .q-and-a-container{
    margin-bottom: 40px;
}

.dropdown-container > .q-and-a-container > .question-container{
    height: 64px;
}

@media only screen and (max-width: 900px){
    .dropdown-container > .q-and-a-container > .question-container > .question{
        font-family: "Lexend", sans-serif;
        font-weight: 500;
        font-size: 18px;
        margin: 0;
    }

    .dropdown-container > .q-and-a-container > .answer > p , li{
        font-family: "Lexend", sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin: 0;
    }
}

@media only screen and (max-width: 780px){
    .faq-section{
        padding: 60px 25px;
    }

    .faq-content{
        align-items: start;
    }

    .dropdown-container-container{
        padding-top: 40px;
    }

    .dropdown-container{
        width: 100%;
        padding: 0;
    }

    

    .answer > button{
        font-size: 0.7rem;
    }
}