/* Board Members Section */
.board-members-section{
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 112px;
    width: 100%;
    min-height: 100%;
}

.board-members-section > h1{
    color: rgba(133, 207, 221, 1);
}

.board-card-container{
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.board-img{
    width: 100%;
    max-width: 300px;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
}

.board-name-text{
    width: 100%;
    color: rgba(133, 207, 221, 1);
}

.board-role-text{
    width: 100%;
    max-width: 300px;
    color: rgba(244, 249, 250, 1);
}

.join-board-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.board-interest-text{
    color: rgba(133, 207, 221, 1);
}

.board-app-color{
    background-color: rgba(241, 176, 32, 1);
}

@media only screen and (max-width: 780px){
    .board-members-section{
        padding: 20px;
        gap: 20px;
    }

    .board-card-container{
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
}

@media only screen and (max-width: 480px){
    .board-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
/* FAQ section */
.faq-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.faq-content{
    display: flex;
    flex-direction: column;
    /* gap: 80px; */
}

.faq-text-color{
    color: rgba(0, 121, 146, 1);
}

.dropdown-container-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.dropdown-container{
    width: 50%;
    padding-top: 56px;
    padding-right: 20px;
}

.dropdown-container > div{
    margin-bottom: 40px;
}

@media only screen and (max-width: 780px){
    .dropdown-container-container{
        padding: 56px 0 0 0;
    }

    .dropdown-container{
        width: 100%;
        padding: 0;
    }
}