/* Menu Links */
.menu-links{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #02303E;
    
    /* Style Links */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    
    /* ig ul came with some default padding */
    padding: 200px 0 0 0;
    margin: 0;
    overflow: scroll;
}

.menu-links > li:nth-child(-n + 4) > a{
    text-decoration: none;
    color: #F4F9FA;
    display: block;
    transition: all 0.2s ease;

    &.active{
        text-decoration: underline 1.5px rgba(244, 249, 250, 1);
        text-underline-offset: 2px;
    }
}

.menu-links > li:nth-child(5) > a{
    text-decoration: none;
    display: block;
    transition: all 0.2s ease;

    &.active{
        text-decoration: underline 1.5px rgba(2, 48, 62, 1);
        text-underline-offset: 2px;
    }
}

.menu-links > li > a:hover {
    color: black;
}

@media only screen and (max-height: 600px){
    .menu-links{
        padding: 80px 0 0 0;
    }
}