/* Menu Links */
.menu-links{
    position: fixed;
    top: 200px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    width: 100%;
    height: 100%;
    background: #D9D9D9;
    z-index: 9999;
    /* ig ul came with some default padding */
    padding: 0;
}

.menu-links > li > a{
    text-decoration: none;
    color: #02303E;
    transition: color 0.2s ease;
    display: block;
    text-align: center;
    transition: color 0.2s ease;
}

.menu-links > li > a:hover {
    color: white;
}