form.contact-form{
    display: grid;
    /* flex-direction: column; */
    grid-template-rows: 88px 88px 88px 288px 88px 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.contact-form input, .contact-form textarea{
    padding: 10px 10px;
}

[for="firstName"]{
    grid-area: 1 / 1 / 2 / 2;
}

[for="lastName"]{
    grid-area: 1 / 2 / 2 / 3;
}

[for="email"]{
    grid-area: 2 / 1 / 3 / 3;
}

[for="subject"]{
    grid-area: 3 / 1 / 4 / 3;
}

[for="message"]{
    grid-area: 4 / 1 / 5 / 3;
}

#message{
    display: block;
    background: #D9E4E6;
    border-radius: 5px;
    resize: none;
    width: 100%;
    height: 90%;
}


.submit-button{
    grid-area: 6 / 1 / 7 / 3;
    justify-self: center;
}

.contact-form > label > input{
    background: #D9E4E6;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.hidden-bot-field{
    display: none;
}

@media only screen and (max-width: 900px){
    form.contact-form{
        grid-template-rows: 88px 88px 88px 88px 288px 88px 50px;
    }

    [for="firstName"]{
        grid-area: 1 / 1 / 2 / 3;
    }

    [for="lastName"]{
        grid-area: 2 / 1 / 3 / 3;
    }

    [for="email"]{
        grid-area: 3 / 1 / 4 / 3;
    }

    [for="subject"]{
        grid-area: 4 / 1 / 5 / 3;
    }

    [for="message"]{
        grid-area: 5 / 1 / 6 / 3;
    }
    
    .g-captcha{
        grid-area: 6 / 1 / 7 / 3;
    }

    .submit-button{
        grid-area: 7 / 1 / 8 / 3;
        justify-self: center;
    }
}