form.contact-form{
    display: grid;
    /* flex-direction: column; */
    grid-template-rows: 88px 88px 88px 288px 50px;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

[for="firstName"]{
    grid-area: 1 / 1 / 2 / 2;
}

[for="lastName"]{
    grid-area: 1 / 2 / 2 / 3;
}

[for="email"]{
    grid-area: 2 / 1 / 3 / 3;
}

[for="subject"]{
    grid-area: 3 / 1 / 4 / 3;
}

[for="message"]{
    grid-area: 4 / 1 / 5 / 3;
}

#message{
    display: block;
    background: #D9E4E6;
    border-radius: 5px;
    resize: none;
    width: 100%;
    height: 90%;
}

.captcha{
    max-width: 100%;
    max-height: 100%;
    grid-area: 5 / 1 / 6 / 3;
    justify-self: center;
}

.submit-button{
    grid-area: 6 / 1 / 7 / 3;
    justify-self: center;
}

.contact-form > label > input{
    background: #D9E4E6;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.hidden-bot-field{
    display: none;
}