/* DRD Hero */
.home-header{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.6);
}

.home-header > nav{
    background: none;
}

div.header-text-container {
    color: #F4F9FA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.header-text-container > a {
    margin: 10px 0;
}

.header-text-container > a > span{
    color: #02303E;
}

.arrow-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.arrow-down {
    font-variation-settings: "FILL" white, "wght" 400, "GRAD" 0, "opsz" 48;
    color: white;
    font-size: 3.5rem;
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
}

.arrow-down:hover {
    animation: down ease-in 0.5s infinite alternate;
}

@keyframes down {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
        opacity: 50%;
    }
}

/* DRD Video */
.home-video-wrapper{
    position: fixed;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

:root {
  --video-width: 100vw;
  --video-height: 100vh;
}
@media (min-aspect-ratio: 16/9) {
  :root {
    --video-height: 56.25vw;
  }
}
@media (max-aspect-ratio: 16/9) {
  :root {
    --video-width: 177.78vh;
  }
}


.home-video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--video-width);
    height: var(--video-height);
    transform: translate(-50%, -50%) scale(1.2345);
    z-index: -1;
}

@media only screen and (max-width: 700px) and (max-height: 500px){
    /* .home-video{
        top: 0px;
    } */
    header{
        gap: 0;
    }
    .header-text-container{
        gap: 0;
        padding: 0;
        line-height: 1;
    }
    .arrow-down{
        display: none;
    }
}

@media only screen and (max-width: 780px){
    div.header-text-container{
        align-items: center;
        text-align: center;
    }
    
    .header-text-container > a > span{
        display: none;
    }
}

@media only screen and (max-height: 600px){
    .home-header{
        min-height:auto;
    }
}

/* What is dragonboat */
.what-is-db-section {
    width: 100%;
    background-color: rgba(244, 249, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.what-is-db-section > h2 {
    display: none;
}

.what-is-db-header{
    color: rgba(0, 121, 146, 1);
}

.what-is-db-content{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.what-is-db-content-text{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

/* .what-is-db-section-text-container > h1 {
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
} */

.what-is-db-content > img{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}


@media only screen and (max-width: 1400px){
    .what-is-db-section > h2{
        display: block;
    }
    
    .what-is-db-content{
        justify-content: center;
    }

    .what-is-db-content-text > h2{
        display: none;
    }
}

/* OUR STORY section */
.our-story-section {
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em 0;
    width: 100%;
}

.our-story-section > h2 {
    color: rgba(133, 207, 221, 1);
    border-color: rgba(0, 121, 146, 1);
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
    display: none;
}

.our-story-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem 0;
    width: 100%;
}

.our-story-content > img {
    width: 100%;
    max-width: 500px;
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
}

.our-story-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 40px;
    width: 500px;
}

.our-story-text > h1 {
    color: rgba(133, 207, 221, 1);
    border-color: rgba(0, 121, 146, 1);
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
}

.our-story-text > p {
    display: block;
    color: rgba(244, 249, 250, 1);
    text-align: right;
}

.our-story-text>a {
    text-decoration: none;
    border-radius: 40px;
    background-color: rgba(241, 176, 32, 1);
    color: rgba(2, 48, 62, 1);

    &:hover{
        background-color: #E29B00;
    }
}

@media only screen and (max-width: 1400px){
    .our-story-section > h2{
        display: block;
    }
    
    .our-story-content{
        justify-content: center;
    }

    .our-story-content > img{
        margin: 0 60px;
    }

    .our-story-text{
        align-items: center;
    }

    .our-story-text > h2{
        display: none;
    }

    .our-story-text > p{
        text-align: left;
    }

}

/* No Experience Section */
.no-experience-section{
    width: 100%;
    background-color: #007992;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.no-experience-text-wrapper{
    max-width: 100%;

    & > .sub-heading-font, & > .body-text-one-font{
        color: white;
    }

}

.no-experience-button-wrapper{
    max-width: 100%;
    display: flex;
    align-items: center;

    & > .primary-button{
        width: 230px;
        text-align: center;
        background-color: #F1B020;

        &:hover{
            background-color: #E29B00;
        }
    }
}

.no-experience-socials{
    transition: opacity 0.2s ease;
    display: flex;
    align-items: center;

    & > img{
        width: 75%;
    }
    
    &:hover{
        opacity: 75%;
    }
}

@media only screen and (max-width: 1200px){
    .no-experience-section{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

/* What We Do Section */
.what-we-do-section {
    width: 100%;
    background-color: rgba(244, 249, 250, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 64px;
}

.what-we-do-section>h2 {
    color: rgba(0, 121, 146, 1);
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin: 0;
}

.what-we-do-image {
    max-width: 400px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.learn-more-button {
    background-color: rgba(241, 176, 32, 1);

    &:hover{
        background-color: #E29B00;
    }
}


@media only screen and (max-width: 500px){
    .what-we-do-section{
        gap: 32px;
    }

    .what-we-do-image{
        aspect-ratio:  16/9;
    }

    .what-we-do-section > a {
        /* body text 2 */
        font-weight: 400;
        font-size: 1.2rem;
        text-decoration: none;
    }

    .card > h2{
        color: #007992;
        font-size: 1.2rem;
    }
}