main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.home-team-photo {
    background-image: url("../../assets/home/team.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: rgba(2, 48, 62, 1);
    z-index: -1;
}

/* DRD Hero */
header {
    color: #F4F9FA;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

div.header-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 50px;
}

.header-text-container > a {
    margin: 10px;
}

.header-text-container > a > span{
    color: #02303E;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.arrow-down {
    font-variation-settings: "FILL" white, "wght" 400, "GRAD" 0, "opsz" 48;
    color: white;
    font-size: 3.5rem;
    cursor: pointer;
    position: relative;
}

.arrow-down:hover {
    animation: down ease-in 0.5s infinite alternate;
}

@keyframes down {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(20px);
        opacity: 50%;
    }
}


@media only screen and (max-width: 780px){
    .home-team-photo {
        background: #D9D9D9;
    }

    .header-text-container > a > span{
        display: none;
    }

    div.header-text-container{
        align-items: center;
        text-align: center;
        color: #02303E;
    }
}

/* What is dragonboat */
.what-is-db-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}
.what-is-db-section > h1 {
    margin: 0;
    color: rgba(0, 121, 146, 1);
    padding-bottom: 20px;
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
    display: none;
}

.what-is-db-section > .header-content{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.what-is-db-section-text-container{
    width: 100%;
    max-width: 500px;
}

.what-is-db-section-text-container > h1 {
    color: rgba(0, 121, 146, 1);
    padding-bottom: 20px;
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
}

.what-is-db-section > .header-content > img{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}


@media only screen and (max-width: 1200px){
    .what-is-db-section > h1{
        display: block;
    }
    
    .what-is-db-section-text-container > h1{
        display: none;
    }
}

/* OUR STORY section */
.our-story-section {
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em 0;
    padding: 100px;
    width: 100%;
}

.our-story-section > h1 {
    color: rgba(133, 207, 221, 1);
    border-color: rgba(0, 121, 146, 1);
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
    display: none;
}

.our-story-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem 0;
    width: 100%;
}

.our-story-content > img {
    width: 100%;
    max-width: 500px; 
    object-fit: contain;
    object-position: center;
    border-radius: 10px;
}

.our-story-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 40px;
    width: 500px;
}

.our-story-text > h1 {
    color: rgba(133, 207, 221, 1);
    border-color: rgba(0, 121, 146, 1);
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
}

.our-story-text>p {
    display: block;
    color: rgba(244, 249, 250, 1);
    text-align: right;
}

.our-story-text>a {
    text-decoration: none;
    border-radius: 40px;
    background-color: rgba(241, 176, 32, 1);
    color: rgba(2, 48, 62, 1);
    padding: 10px 20px;
}

@media only screen and (max-width: 1200px){
    .our-story-section > h1{
        display: block;
    }
    
    .our-story-content{
        justify-content: center;
    }

    .our-story-text > h1{
        display: none;
    }
}

/* What We Do Section */
.what-we-do-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 64px;
    padding: 100px 50px;
}

.what-we-do-section>h1 {
    color: rgba(0, 121, 146, 1);
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.what-we-do-image-container {
    max-width: 400px;
}

.what-we-do-image {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 1/1;
}

.learn-more-colors {
    background-color: rgba(241, 176, 32, 1);
}

@media only screen and (max-width: 780px){
    .what-is-db-section{
        padding: 50px 20px;
    }

    .our-story-section{
        padding: 50px 20px;
    }
}