/* Link Section */
.link-section {
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 100px;
}

/* Left side logo and text */
.logo-and-join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2em 0;
}

.link-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.link-section-team-name {
    color: rgba(244, 249, 250, 1);
}

.link-section-title {
    color: rgba(133, 207, 221, 1);
}


/* Icon Links */
.nav-and-socials-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.icon-link-container{
    display: flex;
    justify-content: end;
    /* gap: 25px; */
    width: 384px;
    flex-wrap: wrap;
    width: 100%;
}


.icon-link{
    display: flex;
    justify-content: end;
}

.icon-link > img{
    width: 75%;
}

@media only screen and (max-width: 1040px) {
    .link-section {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
    }

    .link-section > .nav-link-container{
        padding: 0;
        /* place holder padding 0 might need to adjust later */
    }

    .nav-and-socials-container{
        align-items: center;
    }

    .icon-link-container{
        justify-content: center;
    }

    .icon-link {
        justify-content: center;
    }
}