/* Link Section */
.link-section {
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Left side logo and text */
.logo-and-join-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2em 0;
}

.link-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.link-section-team-name {
    color: rgba(244, 249, 250, 1);
}

.link-section-title {
    color: rgba(133, 207, 221, 1);
}


/* Icon Links */
.nav-and-socials-container{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 20px;
}

.icon-link-container{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    width: 100%;
}


.icon-link{
    display: flex;
    justify-content: end;
}

.icon-link > img{
    width: 75%;
    transition: opacity 0.2s ease;
    
    &:hover{
        opacity: 75%;
    }
}

@media only screen and (max-width: 1100px) {

    .footer-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }

    .link-section-text{
        text-align: center;
    }

    .nav-and-socials-container{
        flex-direction: column;
        align-items: center;
    }

    .nav-link-container{
        justify-content: center;
    }

    .icon-link-container{
        justify-content: center;
    }

    .icon-link {
        justify-content: center;
    }
}