.join-section{
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.join-section > h1{
    color: rgba(0, 121, 146, 1);
    /* text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1); */
}

.join-faqs-container{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;
}

.join-final-questions{
    align-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.join-final-questions > .final-buttons{
    display: flex;
    gap: 36px;
}

.final-buttons > a{
    background-color: #F1B020;
    color: #02303E;

    &:hover{
        background-color: #E29B00;
    }
}

@media only screen and (max-width: 780px){
    .join-section{
        padding: 20px;
    }

    .join-faqs-container{
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}