.join-section{
    padding: 0 100px 100px 100px;
}

.join-faqs-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    width: 100%;
}

.join-section > h1{
    color: rgba(0, 121, 146, 1);
    padding-bottom: 20px;
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
}

.join-faqs-container{
    width: 100%;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.join-final-questions{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.join-final-questions > .final-buttons{
    display: flex;
    gap: 36px;
}

.final-buttons > a{
    border: none;
    background-color: #F1B020;
    color: #02303E;
}

@media only screen and (max-width: 780px){
    .join-section{
        padding: 20px;
    }

    .join-faqs-container{
        padding: 30px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}