nav {
    display: flex;
    justify-content: center;
    background-color: rgba(2, 48, 62, 1);
    padding-top: 3.05rem;
    padding-bottom: 3.05rem;
    width: 100%;
    z-index: 3;
}

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link{
    z-index: 1;
}

.logo-img {
    width: 70px;
    height: 60px;
}

/* Menu Button Styles */
.navbar-menu-button{
    color: #F4F9FA;
    font-size: 60px;
    display: none;
    transition: all ease 0.6s;
}


@media only screen and (max-width: 900px){
    .navbar-menu-button{
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1;
    }

    .nav-content > .nav-link-container{
        display: none;
    }
}