nav {
    display: flex;
    padding: 3.05rem 3.05rem;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 25%, rgba(52, 52, 52, 0.48) 71%, rgba(102, 102, 102, 0) 100%);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
}

div.logo-container {
    padding-bottom: 61px;
}

img.logo {
    width: 3.25rem;
    height: 2.65rem;
}

/* Menu Button Styles */
.navbar-menu-button{
    display: none;
}

.navbar-menu-button > span{
    font-size: 2rem;
    transition: color 0.2s ease;
    /* border: 2px solid pink; */
    cursor: pointer;
}

.navbar-menu-button > span:hover{
    color: white;
}

@media only screen and (max-width: 780px){
    .navbar-menu-button{
        display: block;
        background: none;
        border: none;
    }
}