nav {
    display: flex;
    padding: 3.05rem 3.05rem;
    justify-content: space-between;
    align-items: flex-start;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6) 25%, rgba(52, 52, 52, 0.48) 71%, rgba(102, 102, 102, 0) 100%);
    background-position: center;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    z-index: 3;
}

div.logo-container {
    z-index: 1;
}

img.logo {
    width: 70px;
    height: 60px;
}

/* Menu Button Styles */
.navbar-menu-button{
    font-size: 60px;
    display: none;
    transition: all ease 0.6s;
}


@media only screen and (max-width: 900px){
    .navbar-menu-button{
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        z-index: 1;
    }

    nav > .nav-link-container{
        display: none;
    }
}

@media only screen and (max-height: 500px){
    nav{
        padding: 20px;
    }
}