.carosel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
}

.slide-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    /* this padding pushes track from image slides*/
    padding-bottom: 40px;
}

.scroll-track{
    width: 300px;
    height: 12px;
    background-color: #D9E4E6;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.scroll-thumb{
    position: relative;
    width: 80px;
    height: 12px;
    background: #AAB9BB;
    border-radius: 10px;
    transition: all ease 0.2s;
}

.slide-container::-webkit-scrollbar{
    height: 12px;
}

.slide-container::-webkit-scrollbar-track {
    margin: 100px; /* shrinks track size*/
    background-color: #D9E4E6;
    border-radius: 10px;
}

.slide-container::-webkit-scrollbar-thumb{
    background: #AAB9BB;
    border-radius: 10px;
}

.slide{
    background-color: #D9E4E6;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}

/* Buttons */
.carosel-button{
    border: none;
    background: none;
    padding-bottom: 40px; /* pushes track from image slides*/
}

.carosel-button > span{
    color: #02303E;
    font-size: 2rem;
    cursor: pointer;
    transition: color 0.1s ease;
}

.carosel-button > span:hover{
    color: rgba(133, 207, 221, 1);
}

@media only screen and (max-width: 780px){

    .slide-container{
        /* pushes track from slides */
        padding: 0 0 20px 0;
    }

    .slide{
        margin-bottom: 20px;
    }

    .slide-container::-webkit-scrollbar{
        height: 10px;
    }
    
    .slide-container::-webkit-scrollbar-track {
        margin: 150px;
    }

    .carosel-button{
        display: none;
    }
}


@media only screen and (max-width: 500px){

    .slide{
        margin-bottom: 0px;
    }
    
    .slide-container::-webkit-scrollbar-track {
        margin: 100px;
    }
}