.carosel {
    max-width: 500px;
    display: flex;
    align-items: center;
    width: 100%;
}

.slide-container{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    /* this padding pushes track from image slides*/
    padding-bottom: 40px;
}

.slide-container::-webkit-scrollbar {
    height: 12px;
}

.slide-container::-webkit-scrollbar-track {
    margin: 100px; /* shrinks track size*/
    background-color: #D9E4E6;
    border-radius: 10px;
}

.slide-container::-webkit-scrollbar-thumb{
    background: #AAB9BB;
    border-radius: 10px;
}

.slide{
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: contain;
    object-position: center;
}

/* Buttons */
.carosel-button{
    border: none;
    background: none;
    padding-bottom: 40px; /* pushes track from image slides*/
}

.carosel-button > span{
    color: #02303E;
    font-size: 2rem;
}


@media only screen and (max-width: 780px){

    .slide-container{
        padding: 0;
    }
    
    .slide-container::-webkit-scrollbar-track {
        margin: 50px;
        width: 500px;
    }

    .carosel-button{
        display: none;
    }
}