.carosel {
    width: 500px;
    display: flex;
    align-items: center;
    border: 2px solid pink
}

.slide-container{
    width: 100%;
    height: 100%;
    display: flex;
    /* flex-wrap:nowrap; */
    overflow-x: scroll;
}

.slide-container::-webkit-scrollbar {
    width: 20px;
}

.slide-container::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

.slide-container::-webkit-scrollbar-thumb{
    background: blue;
    border-radius: 10px;
}

.slide{
    background-color: black;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
    object-fit:contain;
    object-position: center;
    display: block;
}
