.loading-screen{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: #02303E;
    opacity: 1;
    transition: all 0.5s ease;


    & img{
        transform: rotate(0);
        animation-name: rotateLogo;
        animation-duration: 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
}

@keyframes rotateLogo{
    0% {transform: rotate(0deg);}
    /* 25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);} */
    100% {transform: rotate(360deg);}
}

.loading-fade{
    opacity: 0;
    z-index: -4;
}