.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.header-section-text-container{
    width: 100%;
    max-width: 500px;
}

.header-content{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
}

.header-section > h1 {
    margin: 0;
    color: rgba(0, 121, 146, 1);
    padding-bottom: 20px;
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
}

.header-content > img{
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}