.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 50px 100px;
}

.header-section-text-container{
    width: 100%;
    max-width: 500px;
}

.header-content{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: start;
    justify-content: space-around;
    gap: 2em 0;
    width: 100%;
}

.header-section > h1 {
    margin: 0;
    color: rgba(0, 121, 146, 1);
    padding-bottom: 20px;
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
    display: none;
}

.header-section-text-container > h1 {
    color: rgba(0, 121, 146, 1);
    padding-bottom: 20px;
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
}

.header-content > img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

@media only screen and (max-width: 1100px) {

    .header-section-text-container > h1 {
        display: none;
    }

    .header-section > h1 {
        display: block;
    }

    .header-section-text-container{
        max-width: none;
    }

    .header-content > img {
        max-width: none;
    }
}

@media only screen and (max-width: 780px){
    .header-section{
        background: #D9D9D9;
        padding: 50px 20px;
    }
}