/* WHAT IS DRAGONBOAT */
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px;
}

.header-section-text-container{
    max-width: 500px;
    line-height: 1;
}

.header-section-text-container > h1 {
    margin: 0;
    color: rgba(0, 121, 146, 1);
    padding-bottom: 20px;
    text-shadow: -0.5px -0.5px 0 rgba(0, 121, 146, 1), 0.5px -0.5px 0 rgba(0, 121, 146, 1), -0.5px 0.5px 0 rgba(0, 121, 146, 1), 1px 1px 0 rgba(0, 121, 146, 1);
}

.header-section > img{
    max-width: 600px;
    border-radius: 10px;
}