*{
  box-sizing: border-box;
}

html, body{
  height: 100vh;
  /* 
    100dvh is the solution to IOS address bar hiding a portion of the site, this
    changes height on mobile to adjust for the bar

  */
  height: 100svh;
}

main, article{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-height: 500px){
  html, body{
    height: 100vh;
    height: 100dvh;
  }
}

body{
  font-family: "Lexend", sans-serif;
  margin: 0;
  /* light grey background */
  background-color: rgba(244, 249, 250, 1); 
}

div#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CONTENT MAX WIDTH */
.content-max-width{
  width: 100%;
  max-width: 1500px;
}

/* MARGINS/PADDING */
.section-tb-padding{
  padding-top: 120px;
  padding-bottom: 140px;
}

.site-lr-padding{
  padding-left: 120px;
  padding-right: 120px;
}

@media only screen and (max-width: 780px){
  .section-tb-padding{
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .site-lr-padding{
    padding-left: 30px;
    padding-right: 30px;
  }
}

/* FONTS */
.heading-font{
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-size: 85px;
  margin: 0;
}

.sub-heading-font{
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: rgba(133, 207, 221, 1);
  margin: 0;
}

.body-text-one-font {
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin: 0;
}

.body-text-two-font {
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}
/* BUTTONS */
.primary-button{
  background-color: #85CFDD;
  color: #02303E;
  padding: 10px 20px;
  border-radius: 40px;

  /* body text 1 */
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  font-size: 32px;
  text-decoration: none;
  margin: 0;
}

.secondary-button{
  text-decoration: none;
  border-radius: 40px;
  background-color: #85CFDD;
  color: #02303E;
  padding: 10px 20px;

  /* body text 2 */
  font-family: "Lexend", sans-serif;
  font-weight: 400;
  font-size: 24px;
  text-decoration: none;
  margin: 0;
}


div#root{
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 950px){
  .heading-font{
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-size: 48px;
    margin: 0;
  }

  .sub-heading-font{
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-size: 28px;
    margin: 0;
  }

  .body-text-one-font {
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }

  .body-text-two-font {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin: 0;
  }

  .primary-button{
  
    /* media subheading */
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin: 0;
  }
  
  /* currently tertiary button styles */
  .secondary-button{
  
    /* media body text 2 */
    font-family: "Lexend", sans-serif;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
  }
}