.event-button{
    border: none;
    background-color: rgba(241, 176, 32, 1);
    margin-top: 40px;
}

/* practice section */
.practice-section{
    width: 100%;
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 112px;
}



.practice-section-text{
    text-align: center;
}

.practice-section-text > h2{
    font-family: Viga;
    font-weight: 400;
    padding-bottom: 20px;
}

.practice-section-text > p{
    color: rgba(244, 249, 250, 1);
    font-family: Lexend;
    font-weight: 500;
    font-size: 18px;
}

.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 48px;
}

.practice-card{
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: 100%;
}

.text-button-container{
    background-color: rgba(11, 77, 91, 1);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em 0;

    padding: 0px 72px;
    border-radius: 0 10px 10px 0;
}

.practice-card-img{
    width: 100%;
    max-width: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0 0 10px;
}

.practice-card-text{
    color: rgba(244, 249, 250, 1);
    width: 100%;
}

.text-button-container > button{
    border: none;
}

.join-team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.team-interest-text{
    color: rgba(133, 207, 221, 1);
}

.join-button-color{
    background-color: rgba(241, 176, 32, 1);
}


@media only screen and (max-width: 900px){
    .practice-card{
        flex-wrap: wrap;
    }

    .practice-card-img{
        max-width: none;
    }

    .text-button-container{
        max-width: none;
        padding: 30px;
        border-radius: 10px;
    }
}

@media only screen and (max-width: 600px){
    .practice-section{
        padding: 60px 25px;
        gap: 40px;
    }

    .practice-card{
        border-radius: 5px;
    }

    .practice-card-text{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }

    .practice-card-text > ul{
        margin: 0;
    }

    .text-button-container{
        padding: 30px;
    }

    .join-team-container{
        gap: 15px;
    }
}

/* Races Section */
.races-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.races-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.races-section-text > h2{
    color: #007992;
}

.races-section-text > p{
    padding: 0 50px;
    max-width: 700px;
}

.races-media{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 60px
}

.see-all-videos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.see-all-videos-container > video{
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
}

.see-all-videos-container > a{
    border: none;
    background-color: rgba(241, 176, 32, 1);
}

@media only screen and (max-width: 780px){
    .races-section{
        gap: 40px;
        padding: 80px 25px;
    }

    .races-section-text > p{
        padding: 0;
    }
}

/* Socials Section */
.socials-section{
    width: 100%;
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.social-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    text-align: center;
    color: #F4F9FA;
}
@media only screen and (max-width: 1400px){
    .socials-section{
        padding: 25px;
    }
}

@media only screen and (max-width: 600px){
    .socials-section{
        gap: 40px;
    }
}