.event-button{
    border: none;
    background-color: rgba(241, 176, 32, 1);
    margin-top: 40px;
}

/* practice section */
.practice-section{
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 112px;
    padding: 128px 120px 120px 120px;
}

.practice-section-text > p{
    color: rgba(244, 249, 250, 1);
}

.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    gap: 48px;
}

.practice-card{
    display: flex;
    align-items: center;
    background-color: rgba(11, 77, 91, 1);
    border-radius: 10px;
    width: 100%;
}

.practice-card-img{
    width: 100%;
    max-width: 50%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0 0 10px;
}

.text-button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 72px;
    width: 100%;
    max-width: 50%;
    gap: 2em 0;
}

@media only screen and (max-width: 1100px){
    .text-button-container{
        padding: 0;
    }
}

@media only screen and (max-width: 830px){
    .practice-card{
        flex-wrap: wrap;
    }

    .practice-card-img{
        max-width: none;
    }

    .text-button-container{
        max-width: none;
    }
}

@media only screen and (max-width: 600px){
    .practice-section{
        padding: 20px;
        gap: 80px;
    }

    .text-button-container{
        padding: 0 10px;
    }
}

.practice-card-text{
    color: rgba(244, 249, 250, 1);
    width: 100%;
}

.text-button-container > button{
    border: none;
}

.join-team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.team-interest-text{
    color: rgba(133, 207, 221, 1);
}

.join-button-color{
    background-color: rgba(241, 176, 32, 1);
}

/* Races Section */
.races-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 112px;
    padding: 100px;
}

@media only screen and (max-width: 780px){
    .races-section{
        gap: 0;
        padding: 20px;
    }
}

/* Socials Section */
.socials-section{
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px;
    gap: 112px;
}

.social-section-text{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: #F4F9FA;
    gap: 72px;
}

@media only screen and (max-width: 780px){
    .socials-section{
        gap: 0;
        padding: 20px;
    }

    .social-section-text{
        gap: 20px;
    }
}