.event-button{
    border: none;
    background-color: rgba(241, 176, 32, 1);
    margin-top: 40px;
}

/* practice section */
.practice-section{
    width: 100%;
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 112px;
}

.practice-section-text{
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
}

.practice-section-text > p{
    color: rgba(244, 249, 250, 1);
}

.card-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 48px;
}

.practice-card{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    width: 100%;
}

.practice-card-img{
    width: 100%;
    max-width: 50%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px 0 0 10px;
}

.text-button-container{
    background-color: rgba(11, 77, 91, 1);
    width: 100%;
    max-width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 32px;

    padding: 64px 72px;
    border-radius: 0 10px 10px 0;
}

.practice-card-text{
    color: rgba(244, 249, 250, 1);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 32px;
}

.practice-card-text > h2{
    color: rgba(244, 249, 250, 1);
}

.practice-info{
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.practice-card-text > ul{
    margin: 0;
}

.text-button-container > button{
    border: none;
}

.join-team-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.team-interest-text{
    color: rgba(133, 207, 221, 1);
}

.join-button-color{
    background-color: rgba(241, 176, 32, 1);
}

@media only screen and (max-width: 1400px){
    .text-button-container{
        gap: 0;
    }
    .practice-card-text{
        justify-content: center;
        gap: 0;
    }
    .practice-info{
        line-height: 35px;
    }
}

@media only screen and (max-width: 1200px){
    .text-button-container{
        padding: 28px 32px;
        justify-content: center;
    }
    .practice-info{
        line-height: 25px;
    }
}

@media only screen and (max-width: 900px){
    .practice-section{
        padding: 60px 25px;
        gap: 40px;
    }
    
    .text-button-container{
        max-width: none;
        border-radius: 5px;
        gap: 16px;
        align-items: start;
    }
    
    .practice-info{
        line-height: 100%;
        gap: 8px;
    }
    
    .practice-card-text{
        max-width: 300px;
        gap: 8px;
    }

    .join-team-container{
        gap: 15px;
    }
}

@media only screen and (max-width: 700px){
    .text-button-container{
        align-items: center;
    }
}

/* Races Section */
.races-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.races-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.races-section-text > h2{
    color: #007992;
}

.races-section-text > p{
    padding: 0 50px;
    max-width: 800px;
}

.races-media{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 60px
}

.see-all-videos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.see-all-videos-container > video{
    width: 100%;
    max-width: 500px;
    height: 334px;
    border-radius: 10px;
}

.see-all-videos-container > a{
    border: none;
    background-color: rgba(241, 176, 32, 1);
}

@media only screen and (max-width: 1400px){
    .races-media{
        justify-content: center;        
    }
    .see-all-videos-container > video{
        height: auto;
    }
}

@media only screen and (max-width: 780px){
    .races-section{
        gap: 40px;
        padding: 80px 25px;
    }

    .races-section-text > p{
        padding: 0;
    }
}

/* Socials Section */
.socials-section{
    width: 100%;
    background-color: rgba(2, 48, 62, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.social-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    text-align: center;
    color: #F4F9FA;
}
@media only screen and (max-width: 1400px){
    .socials-section{
        padding: 25px;
    }
}

@media only screen and (max-width: 900px){
    .socials-section > .carosel > .slide-container{
        overflow-y: hidden;
        height: 333px;
    }
    .socials-section > .carosel > .slide-container > .slide{
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}

@media only screen and (max-width: 600px){
    .socials-section{
        gap: 40px;
    }
}